<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Virtual Cardiac Rehabiliation Nurse Web Services</display-name>
	
	<servlet>
		<servlet-name>Home</servlet-name>
		<display-name>Home</display-name>
		<description></description>
		<servlet-class>com.pioneers.vcrn.webviews.servlets.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RehabPlanServlet</servlet-name>
		<display-name>RehabPlanServlet</display-name>
		<description></description>
		<servlet-class>com.pioneers.vcrn.webviews.servlets.RehabPlanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RehabPlanServlet</servlet-name>
		<url-pattern>/rehabplan</url-pattern>
	</servlet-mapping>
</web-app>
